In [ ]:
#QUESTION 1

In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

In [ ]:
#QUESTION 2

In [2]:
import numpy as np
import pandas as pd
data=np.array([1,2,3,4,5])
print(pd.Series(data))

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [ ]:
#QUESTON 3

In [3]:
import pandas as pd
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Arun', 'Binod', 'Cherry', 'Dash'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 
df['index'] = df.index 
print(df)

  Roll Number    Name  Marks In Percentage Grade  Subject  index
0     20CSE29    Arun                   97     A  Physics      0
1     20CSE49   Binod                   90     A  Physics      1
2     20CSE36  Cherry                   70     C  Physics      2
3     20CSE44    Dash                   82     B  Physics      3

In [ ]:
#QUESTION 4

In [5]:
import seaborn as sb
print(sb.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [6]:
df = sb.load_dataset('mpg')
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

In [ ]:
#QUESTION 5

In [7]:
df['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [ ]:
#QUESTION 6

In [8]:
df=sb.load_dataset('mpg',index_col='origin')

In [9]:
usa=df.loc['usa']

In [10]:
print(type(usa))
print(usa)

<class 'pandas.core.frame.DataFrame'>
         mpg  cylinders  displacement  horsepower  weight  acceleration  \
origin
usa     18.0          8         307.0       130.0    3504          12.0
usa     15.0          8         350.0       165.0    3693          11.5
usa     18.0          8         318.0       150.0    3436          11.0
usa     16.0          8         304.0       150.0    3433          12.0
usa     17.0          8         302.0       140.0    3449          10.5
...      ...        ...           ...         ...     ...           ...
usa     27.0          4         151.0        90.0    2950          17.3
usa     27.0          4         140.0        86.0    2790          15.6
usa     32.0          4         135.0        84.0    2295          11.6
usa     28.0          4         120.0        79.0    2625          18.6
usa     31.0          4         119.0        82.0    2720          19.4

        model_year                       name
origin
usa             70  chevrolet chevelle malibu
usa             70          buick skylark 320
usa             70         plymouth satellite
usa             70              amc rebel sst
usa             70                ford torino
...            ...                        ...
usa             82           chevrolet camaro
usa             82            ford mustang gl
usa             82              dodge rampage
usa             82                ford ranger
usa             82                 chevy s-10

[249 rows x 8 columns]